In [9]:
#importing the neccesary libraries

import pandas as pd
import geopandas as gpd
from shapely.wkt import loads

### Environmental and Health Data Exploration
---
#### Loading Environmental Justice Index data

In [2]:
# Importing EJI file

EJI =gpd.read_file('../Data/EJI/EJISanBernardino.geojson')
EJI.head()

ERROR 1: PROJ: proj_create_from_database: Open of /opt/conda/share/proj failed

,objectid,statefp,countyfp,tractce,affgeoid,geoid,name,county,stateabbr,statedesc,...,ep_mhlth,ep_diabetes,epl_bphigh,epl_asthma,epl_cancer,epl_diabetes,epl_mhlth,SHAPE__Length,SHAPE__Area,geometry
0,8839,06,071,000103,1400000US06071000103,06071000103,1.03,San Bernardino,CA,Califor,...,10.2,9.3,0.0768,0.0604,0.0995,0.3190,0.0990,8127.024758,2.848611e+06,"POLYGON ((-1977959.45880 -161657.81960, -19780..."
1,8840,06,071,000104,1400000US06071000104,06071000104,1.04,San Bernardino,CA,Califor,...,9.3,10.1,0.0857,0.0273,0.1118,0.4209,0.0457,11165.267251,4.125057e+06,"POLYGON ((-1978420.45090 -163718.68370, -19786..."
2,8841,06,071,000105,1400000US06071000105,06071000105,1.05,San Bernardino,CA,Califor,...,9.2,9.4,0.0573,0.0220,0.0785,0.3319,0.0411,10508.687958,5.775186e+06,"POLYGON ((-1977854.62430 -164883.70570, -19777..."
3,8842,06,071,000107,1400000US06071000107,06071000107,1.07,San Bernardino,CA,Califor,...,10.5,8.9,0.1459,0.1389,0.3472,0.2668,0.1216,5494.762999,1.406656e+06,"POLYGON ((-1975678.77440 -166054.16440, -19757..."
4,8843,06,071,000108,1400000US06071000108,06071000108,1.08,San Bernardino,CA,Califor,...,11.0,8.8,0.0557,0.1594,0.1118,0.2542,0.1672,8095.601501,2.866269e+06,"POLYGON ((-1978003.58100 -168118.08840, -19780..."

In [29]:
EJI.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 368 entries, 0 to 367
Columns: 122 entries, objectid to geometry
dtypes: float64(101), geometry(1), int64(10), object(10)
memory usage: 350.9+ KB

In [3]:
# Setting the crs to epsg:4326
EJI.crs = 'epsg:4326'

#### Loading Ontario Census Tract Data

In [4]:
#Since the "0" in the beginning of fips code will be eliminated, we convert them from "int" to "str". 
# Convert the datatypes of 'STATEFP','COUNTYFP',and 'GEOID''COUNTYFP' from "int" to "str".

censustracts =pd.read_csv('ontario.csv', 
            dtype= 
            {
        'STATEFP':str,
        'COUNTYFP':str,
        'GEOID': str
            })
censustracts.head()

,Unnamed: 0,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,435,06,071,1307,1400000US06071001307,06071001307,13.07,CT,1281879,0,"POLYGON ((-117.628575 34.09215, -117.628563 34..."
1,436,06,071,1703,1400000US06071001703,06071001703,17.03,CT,1909759,0,"POLYGON ((-117.667639 34.03029, -117.667599 34..."
2,437,06,071,1812,1400000US06071001812,06071001812,18.12,CT,888388,0,"POLYGON ((-117.65077 34.049248999999996, -117...."
3,717,06,071,1002,1400000US06071001002,06071001002,10.02,CT,1203162,0,"POLYGON ((-117.680818 34.074059999999996, -117..."
4,718,06,071,1310,1400000US06071001310,06071001310,13.10,CT,1417244,0,POLYGON ((-117.64145500000001 34.0870819999999...

In [30]:
censustracts.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  38 non-null     int64
 1   STATEFP     38 non-null     object
 2   COUNTYFP    38 non-null     object
 3   TRACTCE     38 non-null     int64
 4   AFFGEOID    38 non-null     object
 5   GEOID       38 non-null     object
 6   NAME        38 non-null     float64
 7   LSAD        38 non-null     object
 8   ALAND       38 non-null     int64
 9   AWATER      38 non-null     int64
 10  geometry    38 non-null     geometry
dtypes: float64(1), geometry(1), int64(4), object(5)
memory usage: 3.4+ KB

#### Setting the 'geometry' column as a geometry data type

In [5]:
# Checking the data types
censustracts.dtypes

Unnamed: 0      int64
STATEFP        object
COUNTYFP       object
TRACTCE         int64
AFFGEOID       object
GEOID          object
NAME          float64
LSAD           object
ALAND           int64
AWATER          int64
geometry       object
dtype: object

In [10]:
# convert the datatype
censustracts.geometry =  censustracts['geometry'].apply(loads)

In [11]:
censustracts=censustracts.set_geometry('geometry')

In [12]:
# Check the datatypes again

censustracts.dtypes

Unnamed: 0       int64
STATEFP         object
COUNTYFP        object
TRACTCE          int64
AFFGEOID        object
GEOID           object
NAME           float64
LSAD            object
ALAND            int64
AWATER           int64
geometry      geometry
dtype: object

#### Right join to merge the two datasets

We have health and environmental data in dataframe EJI, and geometry data in dataframe censustracts. So we merged the two dataframes for further analysis.

In [16]:
# Merge 'EJI' and 'censustracts' based on 'geoid' and 'GEOID'.  

EJIdata=pd.merge(EJI, censustracts, how='right',indicator=True, left_on='geoid', right_on='GEOID')
EJIdata.head(5)

,objectid,statefp,countyfp,tractce,affgeoid,geoid,name,county,stateabbr,statedesc,...,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry_y,_merge
0,8895,06,071,001307,1400000US06071001307,06071001307,13.07,San Bernardino,CA,Califor,...,071,1307,1400000US06071001307,06071001307,13.07,CT,1281879,0,"POLYGON ((-117.62857 34.09215, -117.62856 34.0...",both
1,8907,06,071,001703,1400000US06071001703,06071001703,17.03,San Bernardino,CA,Califor,...,071,1703,1400000US06071001703,06071001703,17.03,CT,1909759,0,"POLYGON ((-117.66764 34.03029, -117.66760 34.0...",both
2,8917,06,071,001812,1400000US06071001812,06071001812,18.12,San Bernardino,CA,Califor,...,071,1812,1400000US06071001812,06071001812,18.12,CT,888388,0,"POLYGON ((-117.65077 34.04925, -117.65074 34.0...",both
3,8889,06,071,001002,1400000US06071001002,06071001002,10.02,San Bernardino,CA,Califor,...,071,1002,1400000US06071001002,06071001002,10.02,CT,1203162,0,"POLYGON ((-117.68082 34.07406, -117.68082 34.0...",both
4,8898,06,071,001310,1400000US06071001310,06071001310,13.10,San Bernardino,CA,Califor,...,071,1310,1400000US06071001310,06071001310,13.10,CT,1417244,0,"POLYGON ((-117.64146 34.08708, -117.64144 34.0...",both

In [20]:
#list of column names 
list(EJIdata)

['objectid',
 'statefp',
 'countyfp',
 'tractce',
 'affgeoid',
 'geoid',
 'name',
 'county',
 'stateabbr',
 'statedesc',
 'location',
 'e_totpop',
 'm_totpop',
 'e_daypop',
 'spl_eji',
 'rpl_eji',
 'spl_ser',
 'rpl_ser',
 'epl_ozone',
 'epl_pm',
 'epl_dslpm',
 'epl_totcr',
 'spl_ebm_theme1',
 'rpl_ebm_dom1',
 'epl_npl',
 'epl_tri',
 'epl_tsd',
 'epl_rmp',
 'epl_coal',
 'epl_lead',
 'spl_ebm_theme2',
 'rpl_ebm_dom2',
 'epl_park',
 'epl_houage',
 'epl_wlkind',
 'spl_ebm_theme3',
 'rpl_ebm_dom3',
 'epl_rail',
 'epl_road',
 'epl_airprt',
 'spl_ebm_theme4',
 'rpl_ebm_dom4',
 'epl_impwtr',
 'spl_ebm_theme5',
 'rpl_ebm_dom5',
 'spl_ebm',
 'rpl_ebm',
 'epl_minrty',
 'spl_svm_dom1',
 'rpl_svm_dom1',
 'epl_pov200',
 'epl_nohsdp',
 'epl_unemp',
 'epl_renter',
 'epl_houbdn',
 'epl_uninsur',
 'epl_noint',
 'spl_svm_dom2',
 'rpl_svm_dom2',
 'epl_age65',
 'epl_age17',
 'epl_disabl',
 'epl_limeng',
 'spl_svm_dom3',
 'rpl_svm_dom3',
 'epl_mobile',
 'epl_groupq',
 'spl_svm_dom4',
 'rpl_svm_dom4',
 'spl_svm',
 'rpl_svm',
 'f_bphigh',
 'f_asthma',
 'f_cancer',
 'f_mhlth',
 'f_diabetes',
 'f_hvm',
 'rpl_hvm',
 'e_ozone',
 'e_pm',
 'e_dslpm',
 'e_totcr',
 'e_npl',
 'e_tri',
 'e_tsd',
 'e_rmp',
 'e_coal',
 'e_lead',
 'e_park',
 'e_houage',
 'e_wlkind',
 'e_rail',
 'e_road',
 'e_airprt',
 'e_impwtr',
 'ep_minrty',
 'ep_pov200',
 'ep_nohsdp',
 'ep_unemp',
 'ep_renter',
 'ep_houbdn',
 'ep_uninsur',
 'ep_noint',
 'ep_age65',
 'ep_age17',
 'ep_disabl',
 'ep_limeng',
 'ep_mobile',
 'ep_groupq',
 'ep_bphigh',
 'ep_asthma',
 'ep_cancer',
 'ep_mhlth',
 'ep_diabetes',
 'epl_bphigh',
 'epl_asthma',
 'epl_cancer',
 'epl_diabetes',
 'epl_mhlth',
 'SHAPE__Length',
 'SHAPE__Area',
 'geometry_x',
 'Unnamed: 0',
 'STATEFP',
 'COUNTYFP',
 'TRACTCE',
 'AFFGEOID',
 'GEOID',
 'NAME',
 'LSAD',
 'ALAND',
 'AWATER',
 'geometry_y',
 '_merge']

#### Adding a filter to keep only the data we need for the analysis

In [46]:
# Create a list of columns we want to keep. 

columns_to_keep2 = ['statefp',
                   'countyfp',
                   'affgeoid',
                   'geoid',
                   'county',
                   'location',
                   'e_totpop',
                   'e_daypop',
                   'rpl_eji',
                   'rpl_ser',
                   #environmental variable
                   'epl_ozone',
                   'epl_pm',
                   'epl_dslpm',
                   'epl_totcr',
                    #built environment
                   'epl_park',
                   'epl_wlkind',
                   #transportation
                   'epl_rail',
                   'epl_road',
                   'epl_airprt',
                   'rpl_ebm_dom4',
                   # social vulnerability
                    'rpl_svm',
                    'spl_svm',
                    #health
                    'ep_bphigh',
                     'ep_asthma',
                     'ep_cancer',
                     'ep_mhlth',
                     'ep_diabetes',
                     'epl_bphigh',
                     'epl_asthma',
                     'epl_cancer',
                     'epl_diabetes',
                     'epl_mhlth',
                #geometric data  
                   'SHAPE__Length',
                   'SHAPE__Area',
                   'geometry_y', 
                    #demographic indicadors
                    'ep_minrty',
                     'ep_pov200',
                     'ep_nohsdp',
                     'ep_unemp',
                     'ep_renter',
                     'ep_houbdn',
                     'ep_uninsur',
                     'ep_noint',
                     'ep_age65',
                     'ep_age17',
                     'ep_disabl',
                     'ep_limeng',
                     'ep_mobile',
                     'ep_groupq',]
# create new dataframe with the selected columns
EJIdata3 = EJIdata[columns_to_keep2]

# print first 5 rows of the columns kept
EJIdata3.head()

,statefp,countyfp,affgeoid,geoid,county,location,e_totpop,e_daypop,rpl_eji,rpl_ser,...,ep_renter,ep_houbdn,ep_uninsur,ep_noint,ep_age65,ep_age17,ep_disabl,ep_limeng,ep_mobile,ep_groupq
0,06,071,1400000US06071001307,06071001307,San Bernardino,"Census Tract 13.07, San Bernardino County, Calif",4212,2345,0.6649,0.8834,...,5.4,39.6300,10.6,14.3,9.1,26.3,8.9,10.3,0.0,0.2
1,06,071,1400000US06071001703,06071001703,San Bernardino,"Census Tract 17.03, San Bernardino County, Calif",5680,2388,0.4366,0.6255,...,5.1,26.3285,7.0,5.6,13.6,19.4,7.8,8.1,10.8,0.6
2,06,071,1400000US06071001812,06071001812,San Bernardino,"Census Tract 18.12, San Bernardino County, Calif",3477,2913,0.9054,0.9883,...,22.3,53.0762,13.0,26.5,11.1,26.0,11.4,18.2,0.0,1.8
3,06,071,1400000US06071001002,06071001002,San Bernardino,"Census Tract 10.02, San Bernardino County, Calif",5929,1960,0.6587,0.7748,...,16.0,49.3195,13.9,24.3,6.4,30.3,7.2,13.3,0.0,0.0
4,06,071,1400000US06071001310,06071001310,San Bernardino,"Census Tract 13.10, San Bernardino County, Calif",6193,2689,0.7382,0.9542,...,8.3,34.8688,6.4,13.6,12.1,27.3,10.2,12.5,0.9,3.2

In [47]:
EJIdata3.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 38 entries, 0 to 37
Data columns (total 49 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   statefp        38 non-null     object
 1   countyfp       38 non-null     object
 2   affgeoid       38 non-null     object
 3   geoid          38 non-null     object
 4   county         38 non-null     object
 5   location       38 non-null     object
 6   e_totpop       38 non-null     int64
 7   e_daypop       38 non-null     int64
 8   rpl_eji        38 non-null     float64
 9   rpl_ser        38 non-null     float64
 10  epl_ozone      38 non-null     float64
 11  epl_pm         38 non-null     float64
 12  epl_dslpm      38 non-null     float64
 13  epl_totcr      38 non-null     float64
 14  epl_park       38 non-null     float64
 15  epl_wlkind     38 non-null     float64
 16  epl_rail       38 non-null     float64
 17  epl_road       38 non-null     float64
 18  epl_airprt     38 non-null     float64
 19  rpl_ebm_dom4   38 non-null     float64
 20  rpl_svm        38 non-null     float64
 21  spl_svm        38 non-null     float64
 22  ep_bphigh      38 non-null     float64
 23  ep_asthma      38 non-null     float64
 24  ep_cancer      38 non-null     float64
 25  ep_mhlth       38 non-null     float64
 26  ep_diabetes    38 non-null     float64
 27  epl_bphigh     38 non-null     float64
 28  epl_asthma     38 non-null     float64
 29  epl_cancer     38 non-null     float64
 30  epl_diabetes   38 non-null     float64
 31  epl_mhlth      38 non-null     float64
 32  SHAPE__Length  38 non-null     float64
 33  SHAPE__Area    38 non-null     float64
 34  geometry_y     38 non-null     geometry
 35  ep_minrty      38 non-null     float64
 36  ep_pov200      38 non-null     float64
 37  ep_nohsdp      38 non-null     float64
 38  ep_unemp       38 non-null     float64
 39  ep_renter      38 non-null     float64
 40  ep_houbdn      38 non-null     float64
 41  ep_uninsur     38 non-null     float64
 42  ep_noint       38 non-null     float64
 43  ep_age65       38 non-null     float64
 44  ep_age17       38 non-null     float64
 45  ep_disabl      38 non-null     float64
 46  ep_limeng      38 non-null     float64
 47  ep_mobile      38 non-null     float64
 48  ep_groupq      38 non-null     float64
dtypes: float64(40), geometry(1), int64(2), object(6)
memory usage: 14.8+ KB

#### Renaming columns

In [48]:
#listing the column names for version 2 for ease when renaming the columns
columns = list(EJIdata3) 
columns

['statefp',
 'countyfp',
 'affgeoid',
 'geoid',
 'county',
 'location',
 'e_totpop',
 'e_daypop',
 'rpl_eji',
 'rpl_ser',
 'epl_ozone',
 'epl_pm',
 'epl_dslpm',
 'epl_totcr',
 'epl_park',
 'epl_wlkind',
 'epl_rail',
 'epl_road',
 'epl_airprt',
 'rpl_ebm_dom4',
 'rpl_svm',
 'spl_svm',
 'ep_bphigh',
 'ep_asthma',
 'ep_cancer',
 'ep_mhlth',
 'ep_diabetes',
 'epl_bphigh',
 'epl_asthma',
 'epl_cancer',
 'epl_diabetes',
 'epl_mhlth',
 'SHAPE__Length',
 'SHAPE__Area',
 'geometry_y',
 'ep_minrty',
 'ep_pov200',
 'ep_nohsdp',
 'ep_unemp',
 'ep_renter',
 'ep_houbdn',
 'ep_uninsur',
 'ep_noint',
 'ep_age65',
 'ep_age17',
 'ep_disabl',
 'ep_limeng',
 'ep_mobile',
 'ep_groupq']

In [53]:
# Renaming the columns listed above 

EJIdata3.columns = ['state code',
'county code',
'affgeoid',
'geoid',
'county',
'location',
'total population',
 'day population',
 'EJI rank',
 'Environmental burden rank',
#environmental variable
 'Ozone rank',
 'PM 2.5 rank',
 'Diesel rank',
 'Air toxics cancer risk',
#built environment
 'Lack of parks',
 'Lack of walkability',
 #transportation
 'railways',
 'high volume roads',
 'airports',
 'proximity to roads, rail, airports',
# social vulnerability
 'social vulnerability sum',
 'social vulnerability rank',
#health
 '% high blood pressure',
 '% asthma',
 '% cancer',
 '% mental health',
 '% diabetes',
 'high blood pressure rank',
 'asthma rank',
 'cancer rank',
 'diabetes rank',
 'mental health rank',
 #geometric data 
 'SHAPE__Length',
 'SHAPE__Area',
 'geometry', 
#demographic indicadors
 '% minority',
 '% below poverty',
 '% no high school diploma',
 '% unemployed',
 '% renter',
 '% households < $75,000',
 '% uninsured',
 '% no internet',
 '% age 65+',
 '% age 17 or younger',
 '% with disability',
 '% limited english',
 '% mobile home',
 '% group quarters',
  ]


# printing a sample of the data with the new column names
EJIdata3.sample(5)

,state code,county code,affgeoid,geoid,county,location,total population,day population,EJI rank,Environmental burden rank,...,% renter,"% households < $75,000",% uninsured,% no internet,% age 65+,% age 17 or younger,% with disability,% limited english,% mobile home,% group quarters
8,06,071,1400000US06071001101,06071001101,San Bernardino,"Census Tract 11.01, San Bernardino County, Calif",4173,3145,0.7491,0.8856,...,17.1,39.7709,18.2,16.7,7.9,30.1,6.5,22.0,0.0,0.0
31,06,071,1400000US06071000603,06071000603,San Bernardino,"Census Tract 6.03, San Bernardino County, Califo",5508,5382,0.4407,0.6307,...,15.1,31.3700,9.9,14.0,10.0,26.3,9.0,7.0,0.6,1.4
25,06,071,1400000US06071001704,06071001704,San Bernardino,"Census Tract 17.04, San Bernardino County, Calif",5273,4159,0.5753,0.7870,...,10.4,28.9511,14.0,13.6,7.9,27.0,7.3,11.9,0.0,0.2
33,06,071,1400000US06071001813,06071001813,San Bernardino,"Census Tract 18.13, San Bernardino County, Calif",4855,3876,0.9034,0.9868,...,11.3,44.0711,16.8,28.5,5.7,31.9,7.2,20.4,0.6,0.1
4,06,071,1400000US06071001310,06071001310,San Bernardino,"Census Tract 13.10, San Bernardino County, Calif",6193,2689,0.7382,0.9542,...,8.3,34.8688,6.4,13.6,12.1,27.3,10.2,12.5,0.9,3.2

#### Preparing the data for mapping

In [54]:
# Set 'EJIdata3' crs to 'epsg:4326'  

EJIdata3=EJIdata3.set_geometry('geometry')
EJIdata3.crs = 'epsg:4326'

In [55]:
EJIdata5 = EJIdata3.to_crs(epsg=4326)
print(EJIdata5.crs)
EJIdata5.head()

epsg:4326

,state code,county code,affgeoid,geoid,county,location,total population,day population,EJI rank,Environmental burden rank,...,% renter,"% households < $75,000",% uninsured,% no internet,% age 65+,% age 17 or younger,% with disability,% limited english,% mobile home,% group quarters
0,06,071,1400000US06071001307,06071001307,San Bernardino,"Census Tract 13.07, San Bernardino County, Calif",4212,2345,0.6649,0.8834,...,5.4,39.6300,10.6,14.3,9.1,26.3,8.9,10.3,0.0,0.2
1,06,071,1400000US06071001703,06071001703,San Bernardino,"Census Tract 17.03, San Bernardino County, Calif",5680,2388,0.4366,0.6255,...,5.1,26.3285,7.0,5.6,13.6,19.4,7.8,8.1,10.8,0.6
2,06,071,1400000US06071001812,06071001812,San Bernardino,"Census Tract 18.12, San Bernardino County, Calif",3477,2913,0.9054,0.9883,...,22.3,53.0762,13.0,26.5,11.1,26.0,11.4,18.2,0.0,1.8
3,06,071,1400000US06071001002,06071001002,San Bernardino,"Census Tract 10.02, San Bernardino County, Calif",5929,1960,0.6587,0.7748,...,16.0,49.3195,13.9,24.3,6.4,30.3,7.2,13.3,0.0,0.0
4,06,071,1400000US06071001310,06071001310,San Bernardino,"Census Tract 13.10, San Bernardino County, Calif",6193,2689,0.7382,0.9542,...,8.3,34.8688,6.4,13.6,12.1,27.3,10.2,12.5,0.9,3.2

## Converting DataFrame to CSV
csv to be merged to other data as we move forward with our project

In [27]:
#input: using pandas to covert the merged and filtered dataframe to a csv
#output: csv created but still needs to be saved
convertcsv= pd.DataFrame(EJIdata3)
csv_EJIdata = convertcsv.to_csv(index=False)

In [28]:
#input: saving the data from the data frame into a the csv file created 
#output: file should appear on the folder
with open('EJIselectdata.csv', 'w') as csv_file:
    convertcsv.to_csv(path_or_buf=csv_file)

## Converting DataFrame to GeoJSON

In [38]:
import fiona

In [59]:
#Save geodataframe as as geojson file
EJIdata3.to_file('EJIselectdata.geojson', driver='GeoJSON', mode='w')